<main>
  <h2>{{ book.title }}</h2>
  <section class="book-details-container">
    <section>
      <img class="book-cover" src={{ getCoverPath book }}>
      <section class="book-details-btn-grid">
        {{> editButton url=(getURL book false) }}
        {{> deleteForm url=(getURL book false) }}
        <a href="/authors/{{ book.author }}" class="book-details-author-btn">
          <button class="btn">View Author</button>
        </a>
      </section>
    </section>
    <article class="book-details-grid">
      <p class="p book-details-label">Author:</p>
      <p class="p">{{ author.name }} </p>
      <p class="p book-details-label">Publish Date:</p>
      <p class="p">{{ getPubDate book.publishDate }}</p>
      <p class="p book-details-label">Page Count:</p>
      <p class="p">{{ book.pageCount }}</p>
      <p class="p book-details-label">Description:</p>
      <article class="book-description">
        {{#each (formatDescription book.description) }}
          <p>{{ this }}</p>
        {{/each }}
      </article>
    </article>
  </section>

</main>