<main>
  <h2>{{ book.title }}</h2>
  <section class="book-details-container">
    <section>
      <img class="book-cover" src={{ getCoverPath book }}>
      <section class="book-details-btn-grid">
        {{> editButton url=(getURL book false) }}
        {{> deleteForm url=(getURL book false) }}
        <a href="/authors/{{ book.author }}" class="book-details-author-btn">
          <button class="btn">View Author</button>
        </a>
      </section>
    </section>
    <article class="book-details-grid">
      <p class="book-details-label">Author:</p>
      <p>{{ author.name }} </p>
      {{#if coAuthor}}
        <p class="book-details-label">Co-Author:</p>
        <p>{{ coAuthor.name }} </p>
      {{/if }}
      <p class="book-details-label">Era:</p>
      <p>{{ book.era }} </p>
      <p class="book-details-label">Publish Date:</p>
      <p>{{ getPubDate book.publishDate }}</p>
      <p class="book-details-label">Page Count:</p>
      <p>{{ book.pageCount }}</p>
      <p class="book-details-label">Search Tags:</p>
      <p>{{ formatTags book.tags }}</p>
      <p class="book-details-label">Description:</p>
      <article class="book-description">
        {{#each (formatDescription book.description) }}
          <p>{{ this }}</p>
        {{/each }}
      </article>
    </article>
  </section>

</main>