<section class="split-inputs">
  <section class="label-n-input">
    <label>Title</label>
    <input type="text" class="text-box" name="title" value="{{ book.title }}">
  </section>
  <section class="label-n-input">
    <label>Author</label>
    <select name="author" class="select-box">
      {{#each authors }}
        {{#if  (isAuthorMatch this ../book.author) }}
          <option selected label="{{ this.name }}" value={{ this._id }}></option>
        {{else }}
          <option label="{{ this.name }}" value={{ this._id }}></option>
        {{/if }}
      {{/each }}
    </select>
  </section>
</section>
<section class="split-inputs">
  <section class="label-n-input">
    <label>Publish Date</label>
    <input type="date" class="text-box" name="publishDate" value="{{ getPubDate book.publishDate }}">
  </section>
  <section class="label-n-input">
    <label>Page Count</label>
    <input type="number" class="text-box" min="1" name="pageCount" value={{ book.pageCount }}>
  </section>
</section>
<section class="split-inputs">
  <section class="label-n-input label-n-input-no-grow">
    <label>Cover</label>
    <input type="file" class="book-cover filepond" name="cover">
  </section>
  <section class="label-n-input">
    <label>Description</label>
    <textarea name="description">{{ book.description }}</textarea>
  </section>
</section>