<section class="label-n-input label-n-input-no-grow">
    <label>Era</label>
    <select name="era" class="select-box">
      <option selected disabled value>Select an option</option>
      {{#each eras }}
        {{#if  (isEraMatch this ../book.era) }}
          <option selected label="{{ this }}" value="{{ this }}"></option>
        {{else if (isEraMatch this ../searchOptions.era) }}
          <option selected label="{{ this }}" value="{{ this }}"></option>
        {{else }}
          <option label="{{ this }}" value="{{ this }}"></option>
        {{/if }}
      {{/each }}
    </select>
  </section>